
body{
    color: #707070;
}

.container{
    margin: 0 auto;
    width: 20em;
    text-align: center;
}

input{
    background-color: #dadada;
    border: none;
    border-radius: .5em;
    height: 2em;
    padding-left: 1em;
    color: #444444;
    font-family: monospace;
}

input:focus{
    border: 1px solid #858585;
    outline: none;
    transition: .5s ease;
}

button{
    margin: 0 1em;
    background-color:cadetblue;
    color: #fff;
    border: 1px solid #707070;
    height: 2em;
    line-height: 1em;
    border-radius: .3em;
    cursor: pointer;
    transition: .3s ease;
    padding: .3em 1em;
}

button:focus{
    outline: none;
    border: 1px rgb(52, 87, 88) solid;
}

button:hover{
    background-color: rgb(46, 75, 77);
    color: #fff;
}

ul{
    list-style-type: none;
    width: 12em;
}

li{
    text-align: left;
    color: #575757;
    font-family: monospace;
    margin: 1em .3em;
    cursor: pointer;
    transition: .5s ease;
    width: 12em;
}

li:hover{
    color: #cecece;
    background-color: #707070;
    width: 12em;
    margin: 1em 0 ;
    padding: .3em;
}
